body{
	text-align: center;
	background-image: url(https://www.ecuavisa.com/sites/default/files/fotos/2017/06/21/copia_examenes.jpg); 
	background-size: cover;
}


#welcome{
	font-size: 5em;
}

#mainContainer{
	margin: 0 auto;
	width: 80%;
}

#textToCipher{
	margin: 0 auto;
	width: 30%;
	display: inline-block;
}

#buttonPanel{
	margin: 0 auto;
	width: 20%;
	display: inline-block;
}

#textToDecipher{
	margin: 0 auto;
	width: 30%;
	display: inline-block;
}

.panelButtons{
	display: inline-block;
	margin: 10px;
}

#cifrarMensaje{
  width: 75%;
  height:8em;
  border-color:black;
  align-self: center; 
}

#offsetNumber{
	width: 100%;
	margin: 0 auto;
}

#desplazamiento{  
  width: 2.3em;
  height: 2.3em;
  border-color: black; 
  align-self: center; 
}

p{
	font-size: 1.2em;
	color:black;
}

span{
	font-weight: bold;
}

#mensajeCifrado{
	width: 75%;
  	height:8em;
	border-color:black;
	align-self: center; 
}

#offsetText{
	min-width: 85%;
}

.userName{
	font-size: 2em;
}/* Acá va tu código */